@import "font.css";

body {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("bg.webp");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.profile {
    background-color: #181818;
    border-radius: 1rem;
    width: 25rem;
    padding-top: 14rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: (-50%, -50%);
    -moz-transform: (-50%, -50%);
    -ms-transform: (-50%, -50%);
    -o-transform: (-50%, -50%);
    box-shadow: 0 0 4rem 5px #181818;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
}

.banner img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
}

.pfpbg {
    position: fixed;
    top: 5.2rem;
}

#container {
    display: flex; /* establish flex container */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

a:link {
    color: #0a9ad3;
    text-decoration: none;
}

a:visited {
    color: #0a9ad3;
    text-decoration: none;
}

a:hover {
    color: #0a9ad3;
    text-decoration: underline;
}

a:active {
    color: #0a9ad3;
    text-decoration: underline;
}
