@import "font.css";

body {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("bg.webp");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.noscriptmsg {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  text-shadow: 4px 4px 4px #4e4e4e;
}

.profile {
  background-color: #181818;
  border-radius: 1rem;
  padding-top: 14rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 4rem 5px #181818;
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
}

.banner img {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

.pfpbg {
  position: fixed;
  top: 5.2rem;
}

#pfpstatus {
  position: fixed;
  top: 10.6rem;
  left: 30%;
  height: 30px;
  width: 30px;
  background: #181818;
  border-radius: 50%;
  outline: 10px solid #181818;
  text-align: center;
}

#container {
  display: flex; /* establish flex container */
  justify-content: space-between; /* switched from default (flex-start, see below) */
}

.d-contents {
  display: contents;
}

a:link {
  color: #0a9ad3;
  text-decoration: none;
}

a:visited {
  color: #0a9ad3;
  text-decoration: none;
}

a:hover {
  color: #0a9ad3;
  text-decoration: underline;
}

a:active {
  color: #0a9ad3;
  text-decoration: underline;
}

@media screen and (max-width: 330px) {
  .profile {
    width: 17rem;
  }
  #pfpstatus {
    left: 42%;
  }
}

@media screen and (min-width: 331px) {
  .profile {
    width: 22rem;
  }
  #pfpstatus {
    left: 32%;
  }
}

@media screen and (min-width: 416px) {
  .profile {
    width: 23rem;
  }
  #pfpstatus {
    left: 32%;
  }
}

@media screen and (min-width: 992px) {
  .profile {
    width: 25rem;
  }
  #pfpstatus {
    left: 30%;
  }
}

.iframe-spotify {
  width: 85%;
  height: 35%;
  overflow-y: hidden;
  top: 330px;
  position: absolute;
  border-radius: 1.5rem;
}

.iframe-game {
  height: 29%;
}

.spacing-spotify {
  margin-top: 2.5%;
  margin-bottom: 230px;
}

.spacing-game {
  margin-bottom: 180px;
}

.imagephone {
  width: 37%;
}
