@font-face {
    font-family: 'WhitneyBook';
    src: url("whitney-book.woff") format("opentype");
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'one';
    src: url("1.woff") format("opentype");
    font-style: normal;
    font-display: swap;
}

.whitney {
    font-family: WhitneyBook, sans-serif;
}

.one {
    font-family: one, sans-serif;
}

body {
    background-color: #18191C;
    background-image: url("bg.webp");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

.profile {
    background-color: #18191C;
    border-radius: 2%;
    width: 380px;
    padding-top: 235px;
    height: min-content;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transform: translate(0, 50%);
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
}

.banner img {
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
    width: 380px;
    height: 169px;
}

.pfpbg {
    background-color: #18191C;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 7px;
    margin-left: 20px;
    position: absolute;
    top: 107px;
}

.pfp img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.dcfullname {
    margin-left: 20px;
}

#container {
    display: flex;                  /* establish flex container */
    flex-direction: row;            /* default value; can be omitted */
    flex-wrap: nowrap;              /* default value; can be omitted */
    justify-content: space-between; /* switched from default (flex-start, see below) */
}

.name {
    color: #FFFFFF;
    font-size: 22px;
}

.discrim {
    color: #B9BBBE;
    font-size: 22px;
}

.hr {
    margin-left: 20px;
    margin-right: 20px;
    border-color: #262729;
    background-color: #262729;
    height: 1px;
    border: 0;
}

.aboutme {
    color: #B9BBBE;
    font-size: 16px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 1px;
}

.badges img {
    width: 20px;
    height: 20px;
    margin: 5px;
    float: left;
}

.badges2 {
    margin-right: 5px;
}

a:link {
    color: #0A9AD3;
    text-decoration: none;
}

a:visited {
    color: #0A9AD3;
    text-decoration: none;
}

a:hover {
    color: #0A9AD3;
    text-decoration: underline;
}

a:active {
    color: #0A9AD3;
    text-decoration: underline;
}